@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    height: 100%;
    overflow-y: scroll;
    font-size: 100%;
    box-sizing: border-box;
}

.bg {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}

.bg img,
.bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

body {
    display: flex;
    flex-direction: column;
    /*calculo sin padding/border*/
    height: 100%;
    margin: 0;
    /*con marco exterior o sin?*/
    font-family: 'Funnel Sans', sans-serif;
    font-size: clamp(16px, 4vw, 20px);
    line-height: 1.618rem;
    color: #DDDBF1;
}


a {
    text-decoration: none;
    color: blanchedalmond;
}

.navegar ul {
    display: flex;
    flex: 1 1 140px;
    list-style: none;
    white-space: nowrap;
    justify-content: center;
    gap: 1.618rem;
    color: #AB9F9D;
    background-color: rgb(32, 59, 110);
    padding: 0.618rem 0.618rem;
    margin-top: 0px;
}


main {

    padding: 1rem;
}

.contenido,
header {
    background: rgba(129, 95, 1, 0.89);
    padding: 0.618rem 1.618rem;
    border-radius: 0.618rem;
    margin-top: 0.618rem;
}

h1,
h2 {
    color: rgba(252, 245, 234, 0.535);
}

footer {
    background: rgba(60, 79, 118, 0.95);
    padding: 1.618rem;
    text-align: center;
    margin-top: auto;
}

footer a {
    display: flexbox;
    flex-direction: column;
    margin: 0.618rem 1.618rem;
    color: #AB9F9D;
    white-space: nowrap;
}

footer p {
    font-size: 0.9rem;
}


.card-container {
    margin-top: 1.618rem;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.individual-card {
    width: 260px;
    background-color: rgba(31, 148, 66, 0.932);
    font-size: clamp(1rem, 4vw, 1.2rem);
    border-radius: 12px;
    overflow: hidden;
    border: rgba(0, 0, 0, 0.637) solid 3px;
    display: flex;
    flex-direction: column;
}

.cards img {
    width: 100%;
    height: clamp(150px, 25vw, 200px);
    object-fit: cover;
    border-bottom: rgb(255, 255, 255) solid 3px;
}

.cards h3,
.cards p {
    padding: 0 0.618rem;
}

.cards h3 {
    font-size: clamp(1rem, 3vw, 1.3rem);
    margin-bottom: 0.618rem;
    margin-top: 0;
}

.cards p {
    margin: 0 0 0.5rem 0;
    font-size: clamp(0.9rem, 2.5vw, 1rem);
}