.form-container {
    label {
        margin-top: var(--mp);
    }

    fieldset {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--mp);
    }
}

.buttons {
    padding: var(--mp);
    display: flex;
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
}