html {
    height: 100%;
    overflow-y: scroll;
    font-size: 100%;
    box-sizing: border-box;
}

main {
    /*global padding and default font color*/
    padding: 0 var(--mp);
    color: var(--color-E);

    /*background*/
    .background {
        position: fixed;
        inset: 0;
        overflow: hidden;
        z-index: -1;

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: var(--opacity)
        }
    }

    /*background*/

    /*body capsule*/
    .max-container {
        width: 100%;
        margin-inline: auto;
    }

    /*body capsule*/
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Funnel Sans', sans-serif;
    line-height: var(--np);
}

h3 {
    margin-block-end: 0;
    margin-block-start: 0;
}

button {
    border-radius: var(--mp);
    border-style: hidden;
    padding: 0.34rem;
}

.card-button{
border-radius: var(--mp) 0 var(--mp) 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--mp);
    background: var(--color-A);

    * {
        text-decoration: none;
        color: var(--color-D);
        white-space: nowrap;
    }

    .brand {
        fill: var(--color-E);
    }

    .auth {
        display: flex;
        gap: var(--mp);
    }

    .menu-toggle {
        display: none;
    }

    .hamburger {
        width: 34px;
        height: 34px;
        align-content: center;
        text-align: center;
        display: block;
        cursor: pointer;
        position: fixed;
        transform: translateY(55px);
        background-color: var(--color-A);
        border-radius: 50%;
        z-index: 1;
    }


    .menu-toggle:checked+.hamburger+.navigate {
        display: block;
        position: fixed;
        width: fit-content;
        padding: var(--mp) var(--np);
        border-radius: var(--mp);
        transform: translateY(144px);
        background-color: var(--color-A);

        ul {
            justify-items: left;
            align-items: center;
            padding: var(--mp) 0;
        }
    }

    .navigate {
        display: none;
        width: 100%;

        ul {
            flex-direction: column;
            list-style: none;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }
    }
}

.page-title,
.page-content {
    background: var(--color-C);
    padding: var(--mp) var(--np);
    border-radius: var(--mp);
    margin-top: var(--mp);
}

.headers-title {
    margin-block-start: var(--mp);
    color: var(--color-E);
    font-size: var(--np);
}

/*cards*/
.card-container {
    margin-top: var(--mp);
    display: flex;
    justify-content: center;

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: var(--mp);
        width: 100%;

        img {
            width: 100%;
            height: clamp(150px, 25vw, 200px);
            object-fit: cover;
        }

        .card-title-distribution {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: var(--mp);
            font-size: 1rem;
            background-color: var(--color-E);
            color: var(--color-A);
        }

        .card-footer-distribution {
            display: inherit;
            justify-content: space-between;
        }

        p,
        span {
            padding: 0rem var(--mp);
            margin: 0.1rem 0;
            font-size: clamp(0.9rem, 2.5vw, 1rem);
        }

        .individual-card {
            min-width: 220px;
            background-color: var(--color-C);
            font-size: clamp(1rem, 4vw, 1.2rem);
            border-radius: var(--mp);
            overflow: hidden;
            display: flex;
            flex-direction: column;

            /* animation */
            @media (hover: hover) and (pointer: fine) {
                transition: transform 0.2s ease, box-shadow 0.2s ease;

                &:hover {
                    transform: scale(1.011);
                    box-shadow: 0 3px 13px var(--color-A);
                }
            }
        }
    }
}

/*cards*/

/* footer */
footer {
    background: var(--color-A);
    padding: var(--np);
    text-align: center;
    margin-top: var(--mp);

    a {
        display: flexbox;
        flex-direction: column;
        margin: var(--mp) var(--np);
        color: var(--color-E);
        white-space: nowrap;
    }

    p {
        font-size: 0.9rem;
        color: var(--color-D);
    }
}

/* footer */

/*media resize*/
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .hamburger {
            display: none;
        }

        .navigate {
            display: flex;
            justify-content: center;

            ul {
                display: flex;
                flex: 1 1 140px;
                flex-direction: row;
                justify-content: center;
                gap: var(--np);
                margin-left: var(--mp);
                margin-right: var(--mp);
            }
        }

        .menu-toggle:checked+.hamburger+.navigate {
            position: unset;
            display: flex;
            justify-content: space-between;
            padding: 0;
            border-radius: 0;
            transform: translateY(0);
            background-color: rgba(255, 255, 255, 0);

            ul {
                display: flex;
                flex: 1 1 140px;
                flex-direction: row;
                justify-content: center;
                gap: var(--np);
                margin-left: var(--mp);
                margin-right: var(--mp);
            }
        }
    }



    .auth {
        justify-content: flex-end;
    }

    .max-container {
        max-width: 61.8vw;
    }
}