html {
    height: 100%;
    overflow-y: scroll;
    font-size: 100%;
    box-sizing: border-box;
}

main {
    /*margin and default font color*/
    padding: var(--mp);
    color: var(--color-E);
    /*margin and default font color*/

    /*background*/
    .background {
        position: fixed;
        inset: 0;
        overflow: hidden;
        z-index: -1;

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 33%;
        }
    }
    /*background*/

    /*body capsule*/
    .max-container {
        width: 100%;
        margin-inline: auto;
    }
    /*body capsule*/
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Funnel Sans', sans-serif;
    font-size: clamp(16px, 4vw, 20px);
    line-height: var(--np);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--mp);
    background: var(--color-A);

    * {
        text-decoration: none;
        color: var(--color-D);
        white-space: nowrap;
    }

    .auth {
        display: flex;
        gap: var(--mp);
    }

    .navigate {
        width: 100%;

        ul {
            display: flex;
            flex: 1 1 140px;
            flex-direction: column;
            list-style: none;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }
    }
}

.page-title,
.page-content {
    background: var(--color-C);
    padding: var(--mp) var(--np);
    border-radius: var(--mp);
    margin-top: var(--mp);
}

.headers-title {
    margin-block-start: var(--mp);
    color: var(--color-E);
    font-size: var(--np);
}

/*cards*/
.card-container {
    margin-top: var(--np);
    display: flex;
    justify-content: center;

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: var(--mp);
        width: 100%;

        img {
            width: 100%;
            height: clamp(150px, 25vw, 200px);
            object-fit: cover;
        }

        h3,
        p {
            padding: 0 var(--mp);
        }

        h3 {
            font-size: clamp(1rem, 3vw, 1.2rem);
            margin-bottom: var(--mp);
            margin-top: 0;
            background-color: var(--color-E);
            color: var(--color-A);
        }

        p {
            margin: 0 0 var(--mp) 0;
            font-size: clamp(0.9rem, 2.5vw, 1rem);
        }

        .individual-card {
            min-width: 220px;
            background-color: var(--color-C);
            font-size: clamp(1rem, 4vw, 1.2rem);
            border-radius: var(--mp);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            /*animación*/
            transition: transform 0.2s ease, box-shadow 0.2s ease;

            &:hover {
                transform: scale(1.011);
                box-shadow: 0 3px 13px var(--color-A);
            }
        }
    }
}

/*cards*/

/* footer */
footer {
    background: var(--color-A);
    padding: var(--np);
    text-align: center;
    margin-top: auto;

    a {
        display: flexbox;
        flex-direction: column;
        margin: var(--mp) var(--np);
        color: var(--color-E);
        white-space: nowrap;
    }

    p {
        font-size: 0.9rem;
        color: var(--color-D);
    }
}

/* footer */

/*media resize*/
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navigate {
        flex: 1;
        display: flex;
        justify-content: center;

        ul {
            flex-direction: row;
            justify-content: center;
            gap: var(--np);
        }
    }

    .auth {
        justify-content: flex-end;
    }

    .max-container {
        max-width: 61.8vw;
    }
}